$color-bordo: #4A2B33;
$color-bordo-light: #D27487;
$slick-font-path: './../node_modules/slick-carusel/slick/fonts/';
$slick-loader-path: './../node_modules/slick-carusel/slick/';
@import "./../node_modules/owl.carousel/dist/assets/owl.carousel.css";
@import "./../node_modules/slick-carousel/slick/slick";
@import "./../node_modules/slick-carousel/slick/slick-theme";
@import "./../node_modules/bootstrap/scss/bootstrap";


.slider {
  background-color: #0b2e13;
  padding: 50px;


  .container {
    .owl-carousel {
      border: 2px solid #16011c;
      border-radius: 20px;
      padding: 20px;
    }

    .navigation {

      button {
        margin-right: 10px;
        margin-top: 40px;
        background-color: #0a0a23;
        color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 2px 2px rgb(0, 0, 0);
      }
    }

    .slide-info {
      margin-top: 10px;
      font-size: 20px;
      color: #ad020b;

      span {
        padding: 2px;
        border: 2px solid #16011c;
      }
    }
  }
}


img {
  max-width: 100%;
}

.bg-bordo {
  background-color: $color-bordo;
}

h2 {
  font-family: 'Azeret Mono', monospace;
  font-size: 17px;
  font-weight: 700;
  line-height: 21.6px;
}

p {
  color: #222;
  font-size: 32px;
  line-height: 44.8px;
}

//
.navbar {
  padding: 20px 0;

  &-collapse {
    justify-content: space-between;
  }

  &-nav {
    .nav-link {
      color: $color-bordo-light;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.section-1 {
  padding-bottom: 36px;
}

.section-2 {
  padding: 220px 0;
  color: #222;

  p {
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
  }

}

button.btn {
  border: 2px solid #6F6F64;
  background-color: transparent;
  color: #6F6F64;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding: 17px 15px;
  border-radius: 0;

  &.btn-active {
    background-color: #6F6F64;
    color: #FFF;
  }
}

.section-3 {
  padding: 120px 0;
  background: #E9E9E3;
  color: #6F6F64;

  .separator {
    margin-bottom: 74px;
  }

  .menu {
    display: none;

    &.open {
      display: block;
    }
  }
}

.section-4 {
  margin-bottom: 150px;
  padding: 120px 20px;
  background-color: #AA9E54;
  color: #FFF;
  text-align: center;
  font-family: 'Azeret Mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;

  p {
    color: #FFF;
    text-align: center;
    font-family: Inter, serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 36.4px;
  }

}

.section-5 {
  margin-bottom: 120px;
}

.section-6 {
  padding: 120px 0;
  color: #D27487;
  margin-bottom: 56px;

  h3 {
    font-family: Azeret Mono, sans-serif;
    font-size: 47px;
    line-height: 62.5px;
  }

  p {
    color: inherit;
    font-family: Inter, serif;
    font-size: 18px;
    line-height: 27px;
  }
}

li::marker {

}

.section-7 {
  color: #1F1F1F;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 15px;;
  line-height: 22.4px;
}
